/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Magra');
body{
    font-family: 'Magra', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}