.details_wrap img{
    max-height: 450px;
    object-fit: cover;
}
.img_wrap{
    text-align: center;
}
.img_wrap>img {
    height: 50px;
    border-radius: 50%;
}
.review_wrap .row {
    margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
    .img_wrap{
        text-align: left;
    }
}
